<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="center">To-Do List</h1>
      <div class="center">
        <input type="text" id="new-todo" placeholder="What would you like to do?" autofocus>
        <button id="todo-submit">Create</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="td-nav-pill center">Total To-Dos: <span id="todo-counter"></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li class="td-nav-pill">Sort By</li>
        <li><a href="#" id="sort-alpha">Title</a></li>
        <li><a href="#" id="sort-created">Created</a></li>
        <li><a href="#" id="sort-completed">Completed</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="td-list-header">
        <span>Active: </span>
        <span id="todo-active-counter"></span>
      </div>
      <ul id="todo-active-list" class="td-list-container"></ul>
    </div>
    <div class="col-xs-6">
      <div class="td-list-header">
        <span>Completed: </span>
        <span id="todo-completed-counter"></span>
      </div>
      <ul id="todo-completed-list" class="td-list-container"></ul>
    </div>
  </div>
</div>
