<h1 class="text-center">To-Do List</h1>

<form id="new-todo-form">
  <div class="row">
    <div class="medium-6 small-centered columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input id="new-todo-name" type="text" name="name" placeholder="Enter a to-do item">
        </div>
        <div class="small-2 columns">
          <button type="submit" class="add-button button postfix radius">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="todo-panel medium-6 small-12 small-centered columns" data-list="active" id="active-tasks">
    <div class="todo-header">
      <h3>Todo Tasks</h3>
    </div>
    <table id="todo-table"></table>
  </div>
</div>
