$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$tertiary-color: #A7A7A7;

.todo-panel {
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  // border-radius: 0.5rem;
  padding: 0;

  .todo-header {
    background: $primary-color;
    // border-radius: 0.5rem 0.5rem 0 0;
    h3 {
      color: white;
      padding: 0.5rem 0 0.5rem 1rem;
    }
  }

  .sub-nav {
    background: $secondary-color;
    width: 100%;
    margin: 0;
  }

  table {
    width: 100%;

    input {
      margin: 0;
    }

    button {
      display: none;
    }

    td {
      i {
        color: $tertiary-color;
      }
      i:hover {
        color: $primary-color;
      }
    }

    .completed {

      td {
        color: $tertiary-color;
      }
    }
  }
}
